@media only screen and(min-width: 768px){
    .wrap-body{
        max-width: 2000px;
        margin: 0 auto;
        width: 90%;
    }
    .wrap-header{
        width: 90%;
        padding: 15px 0;
    }
    .wrap{
        width: 90%;
    }

    .header{
        .wrap-header{
            display: flex;
            justify-content: space-between;
            .title{
                display: inline-block;
                margin: initial;
            }
            .menu-toggle{
                display: none;
            }
            .list-menu{
                display: inline-block;
                ul{
                    background: $color10;
                    display: flex;
                    flex-direction: row;
                    li{
                        margin-left: 1.5em;
                        a{
                            background: $color10;
                            color: $color7;
                            padding: initial;
                            &:hover{
                                background-color: initial;
                                color: $color2;
                            }
                        }
                    }
                }
            }
        }
    }

    section.home{
        .hero{
            display: flex;
            justify-content: space-between;
            img{
                width: 48%;
            }
            .text-hero{
                width: 48%;
                padding-top: 100px;
            }
        }
        .images-secundary{
            margin-top: 70px;
            display: flex;
            justify-content: space-between;
            img{
                width: 31%;
            }
        }

    }
    section.body-page{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .subtitle{
            width: initial;
        }
        .block-1{
            width: 65%;
            .recent-posts{
                .wrap{
                    width: 95%;
                }
                h2{
                    margin-bottom: 40px;
                }
                .post{
                    padding-top: initial;
                }
            }
        }
        .block-2{
            width: 34%
        }
        .block-2{
            .wrap{
                width: 95%;
            }
            .gallery{
                .images-gallery{             
                    .columns-3{
                        display: flex;
                    }
                        img{
                            flex-grow: 1;
                            margin-left: 0.2em;
                            margin-bottom: 0.5em;
                            max-width: 140px;
                            max-height: 140px;
                        }
                }
            }
            .popular{
                .item-popular{
                    .container-img{
                        width: auto;
                    }
                    .container-texto-popular{
                        h3{
                            line-height: initial;
                        }
                    }
                }
            }
        }
    }
    footer{
        .footer-1{
            .wrap{
                display: flex;
                justify-content: space-between;
                .item-footer-2{
                    margin-top: initial;
                }
                article{
                    width: 20%;
                }
            }
        }
        .footer-2{
            .wrap{
                display: flex;
                justify-content: space-between;
            }
        }
  
    }
}


@media only screen and(min-width: 1000px){
    .wrap-header, .wrap{
        width: 80%;
    }
    section.body-page .block-1 .recent-posts .wrap{
        width: 80%;
    }
    section.body-page .block-1 .recent-posts h2{
        width: 84%;
    }
    section.body-page .block-2 .gallery .images-gallery img{
        width: 90px;
        height: 90px;
    }
}