//Colores
$color1 : #666666;
$color2 : #0FBE7C;
$color3 : #333333;
$color4 : #eaeaea;
$color5 : #000;
$color6 : #9b9b9b;
$color7 : #444444;
$color8 : #424143;
$color9 : #818181;
$color10 : #fff;
$color11 : #999999;
$color12 : #D5D5D5;
$color13 : #3a3a3a;
$color14 : #088555;
$color15 : #222222;
$color16 : #e5e5e5;
// $color5 : #999999;
// $color6 : #D5D5D5;

//Fuentes
$p: 0.95em;
$label: 0.95em;
$title : 1.9em;
$h1 : 2.1em;
$h2 : 1.6em;
$h3 : 1.7em;
$font : 'Lato', sans-serif;
// font-family: 'Lato', sans-serif;
